<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="boilerplate.css" rel="stylesheet" type="text/css">
<link href="HomeStyle.css" rel="stylesheet" type="text/css">
<script src="respond.min.js"></script>
<script src="angular.min.js"></script>
<title>H.M. Malabanan</title>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!--navigation and header-->
<div id = "nav" clearfix>
  <img src="logo.png" alt="H.M.Malabanan.Logo"  id = "logo">  
    <div id = "navContainer" clearfix>
  	<ul>
  		<li clearfix><a href="#"id = "common" ng-click="myfunct(true,false)">HOME</a></li>
        <li clearfix><a href="#" id = "common" ng-click="myfunct(false,true)">SERVICES</a></li>
        <li clearfix><a href="Inquire Now.php?Msg= " id = "common">INQUIRE NOW</a></li>
        <li clearfix><a href="#" id = "explore">&#9776; </a>
			<ul>
       				<li clearfix><a href="index.php" >Home</a></li>
            	    <li clearfix><a href="Services.php">Services</a></li>
                	<li clearfix><a href="Inquire Now.php?Msg= ">Inquire Now</a></li>
    		</ul>
  		</li>      
    </ul>
    
<marquee behavior="scroll" direction ="left" style="background-color:#3b5998; color:#FFF; height:28px; font-family:century gothic; font-size:20px;"> &#9743; &nbsp &nbsp &nbsp Landline: (02) 232-8641 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Smart: 0929-326-5046 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Globe: 0915-547-0605 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Sun: 0923-515-5931
      	</marquee>

</div></div>

<!--navigation and header-->
	
<!--content-->
<center><div id = "slide"></div></center>

<!--content1-->
		 
		 <div id="cont1">
		 <center>
			<h1>About H.M Malabanan</h1>
			<p ng-include src="'Intro.txt'"></p>
		 </center>
		 </div>
		 
<!--/content1-->





<!--content2-->
<div id= "content" >
    	 
		 
		 
		 <div id="cont2">
		 <div>
		 <center>
    <h1>H.M. MALABANAN</h1>
    <p>H.M Malabanan Plumbing and Siphoning Services provides a wide range of reliable and trusted services that will meet all of your plumbing needs. Our team of professionals guarantees to give you the best in pozo negro and siphoning services. With H.M Malabanan Plumbing and Siphoning, you can rest easy knowing your septic tank is in good hands</p>
		</center>
    <hr style="width:95%;"></hr>
    
	<div id="declog">
    <h3>DE-CLOGGING SERVICES OFFERED:</h3>
    <ul>
    <li>	Drain, cleaning, and de-clogging clogged pipelines.</li>
    <li>	Clearing up clogged pipelines and drainage system.</li>
    <li> 	Repiping of damage pipelines.</li>
    <li>	Installation of outlet/inlet pipes/all plumbing repair.</li>
    <li>	Installation and Repair of Main Pipeline, Inlet, Outlet, Waterline, lavatories.</li>
    <li>	Siphoning of septic tank per truck load.</li>
    </ul>
	</div>
    
    
    
	<div id="siphon">
    <h3>SIPHONING SERVICES OFFERED:</h3>
    <ul>
    <li>	Clean throughly the septic vault or septic tank.			</li>
	<li>	Installation / Construction of new septic vault.</li>
	<li>	Cleaning and remove garbage inside septic vault.</li>
	<li>	Cleaning of cistern tank or water tank.</li>
    <li>	Water waste Draining for flooded areas,Swimming pool.</li>
	<li>	Locate,open and repair septic vault.</li>
	<li>	Preventive maintenance for fast food chains,canteen.hotel and all kind of establisment.</li>
	<li>	Siphoning of septic slugde from septic vault.</li>
	<li>	Grease tank cleaning for STP’s.</li>
	</ul>
	</div>
    
    
    
	<div id="others">
	<br>
	
    <h3>OTHER SERVICES OFFERED:</h3>
    <ul>
    <li>	Renovation</li>
	<li>	Mechanical services</li>
    </ul>
	<br>
   	<br>
	
	
    </div>
    
    <!------------------------------------------>
    
    <div>
    </div>
	</div>
	</div>

    
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
        
        
       </div>
<!--/content2-->
<!--/content-->

<!--content3-->
		<div id="cont3"><b>OUR OFFICE IS LOCATED AT:</b>
			<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d15442.96710023438!2d121.08555069999998!3d14.613780599999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b818ae9e81d1%3A0x857e5b1449b643c8!2sSANTOLAN!3m2!1d14.613073499999999!2d121.0879674!4m5!1s0x3397b818ae9e81d1%3A0x857e5b1449b643c8!2sSantolan%2C+Pasig%2C+Metro+Manila!3m2!1d14.613073499999999!2d121.0879674!5e0!3m2!1sen!2sph!4v1437912655081" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>
        </div>

<!--/content3-->


<!--footer-->
		<center>
           <div id="footer1">
           		<br>
					<a href="https://www.facebook.com/hmmalabanan" target="_blank"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png"/></a>&nbsp&nbsp&nbsp&nbsp
					<a href="https://twitter.com/hm_malabanan" target="_blank"><img src="http://static.viewbook.com/images/social_icons/twitter_32.png"/></a>&nbsp&nbsp&nbsp&nbsp
					<a href="https://accounts.google.com" target="_blank"><img src="http://static.viewbook.com/images/social_icons/google_32.png"/></a>
				<br>
					<hr style="width:30%;"></hr>
					<H3 style="color:#fff; font-family:century gothic;">E-MAIL US @:</H3>    
					<p style="color:#fff; font-family:century gothic;">GMail: <b>malabananhm@gmail.com</b></p>
					<p style="color:#fff; font-family:century gothic;">Yahoo Mail: <b>hmmalabanan@yahoo.com</b></p>        

						<a href="index.php" style="color:#fff; font-family:century gothic;">HOME</a>
						<a href="Services.php" style="color:#fff; font-family:century gothic;">SERVICES</a>
						<a href="Inquire Now.php?Msg= " title="Home" style="color:#fff; font-family:century gothic;">INQUIRE NOW</a>
			<div id="footer2">
				<p style="color:#FFF; font-family:century gothic;"> H.M. Malabanan &#9400;2015 <i>Powered By:ABC</i></p>
			</div>     
     	  </div>
		</center>
		<!--/footer-->


<!--Script-->
<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',
function($scope){
	
	
});
</script>
<!--Script-->
</body>
</html>






















